.first_slide_container{
    width: 100%;
    height: 996px;
    overflow: hidden;
    position: relative;
}

.first_slide_bg{
    position: absolute;
    z-index: -1;
}

.first_slide{
    width: 100%;
    height: 100%;

    color: var(--light-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first_slide .left_side{
    width: 524px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first_slide .left_side div{
    display: flex;
    flex-direction: row;

    gap: 30px;
}

.first_slide .left_side p{
    font-size: 30px;
}

.first_slide .left_side h1{
    font-family: var(--font-bold);
    font-size: 80px;
}

.first_slide .left_side span{
    font-size: 25px;
    margin-bottom: 50px;
}


.first_slide .left_side div button{
    padding: 19px 35px;
}

.first_slide .right_side{
    width: 731px;
    height: 100%;

    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first_slide .right_side .itteractive_block{
    position: relative;
}

.first_slide .right_side .reservation_block{
    width: 231px;
    height: 142px;

    background: rgba(119, 158, 203, 0.31);
    backdrop-filter: blur(9px);
    border-radius: 15px;

    overflow: hidden;

    position: absolute;
    top: -85px;
    right: 50px;
    transition: 0.15s all;

    cursor: pointer;
}

.first_slide .right_side .reservation_block:hover{
    transform: scale(1.02);
}

.first_slide .right_side .reservation_block:active{
    transform: scale(0.99);
}

.first_slide .right_side .reservation_block:first-child{
    top: auto;
    bottom: -25px;
    left: 0;
}

.first_slide .right_side .reservation_block>div{
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(9px);

    position: relative;
}

.first_slide .right_side .reservation_block>div>button{
    position: absolute;
    bottom: 42px;
    right: 10px;
}

.first_slide .right_side .reservation_block>h3{
    font-size: 21px;
}

.first_slide .right_side .reservation_block>div>span{
    font-size: 17px;
}


.first_slide .right_side .reservation_block>h3,
.first_slide .right_side .reservation_block>div{
    padding: 5px 13px;
}

.btn.alt{
    background: var(--light-color);
    color: var(--sea-color);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.first_slide .left_side div button.alt{
    padding-left: 20px;
    padding-right: 20px;
}

.btn.alt img{
    height:48px;
}

@media screen and (max-width: 1440px) {
    
    .first_slide_container{
        height: 872px;
    }

    .first_slide .right_side{
      width: 500px;
    }

    .first_slide .right_side .itteractive_block>img{
        width: 515px;
    }

    .first_slide .right_side .reservation_block>h3{
        font-size: 21px;
    }
    .first_slide .right_side .reservation_block>div>span{
        font-size: 15px;
    }
    .first_slide .right_side .reservation_block{
        width: 198px;
        height: 122px;
    }

    .first_slide .left_side p{
        font-size: 25px;
    }

    .first_slide .left_side p{
        font-size: 25px;
    }

    .first_slide .left_side .btn{
        font-size: 25px;

        padding: 16px 34px;
    }
}

@media screen and (max-width: 1000px) {

    
    .first_slide_container{
        height: 818px;
    }

    .first_slide .right_side{
      width: 500px;
    }

    .first_slide .right_side .itteractive_block>img{
        width: 515px;
    }

    .first_slide .right_side .reservation_block>h3{
        font-size: 21px;
    }
    .first_slide .right_side .reservation_block>div>span{
        font-size: 15px;
    }
    .first_slide .right_side .reservation_block{
        width: 198px;
        height: 122px;
    }

    .first_slide .left_side p{
        font-size: 22px;
    }

    .first_slide .left_side span{
        font-size: 19px;
        margin-bottom: 34px;
    }

    .first_slide .left_side .btn{
        font-size: 20px;

        padding: 12px 19px;
    }

    .first_slide .right_side .reservation_block{
        right: 10px;
        top: -75px;
    }

    .first_slide .right_side .reservation_block:first-child{
        bottom: 35px;
        left: -68px;
    }
}

@media screen and (max-width: 768px) {

    .first_slide .left_side div button.alt{
        padding-left: 10px;
        padding-right: 10px;
    }

    .btn.alt img{
        height:28px;
    }

    .first_slide .right_side{
      width: 421px;
    }

    .first_slide .right_side .itteractive_block>img{
        width: 508px;
    }

    .first_slide .right_side .reservation_block>h3{
        font-size: 21px;
    }
    .first_slide .right_side .reservation_block>div>span{
        font-size: 15px;
    }
    .first_slide .right_side .reservation_block{
        width: 116px;
        height: 72px;
    }

    .first_slide .left_side{
        width: 331px;
    }

    .first_slide .left_side p{
        font-size: 20px;
    }

    .first_slide .left_side h1{
        font-size: 52px;
    }

    .first_slide .left_side span{
        font-size: 16px;
        margin-bottom: 34px;
    }

    .first_slide .left_side .btns{
        gap: 11px;
    }

    .first_slide .left_side .btn{
        font-size: 17px;

        padding: 10px 17px;
    }

    .first_slide .right_side .reservation_block h3{
        font-size: 12px;
    }

    .first_slide .right_side .reservation_block>div>span{
        font-size: 9px;
    }

    .first_slide .right_side .reservation_block{
        right: 10px;
        top: -24px;
    }

    .first_slide .right_side .reservation_block:first-child{
        bottom: 30px;
        left: 10px;
    }
}

@media screen and (max-width: 768px) {
    .first_slide_container{
        height: 438px;
    }

    .first_slide .right_side{
      width: 421px;
    }

    .first_slide .right_side .itteractive_block>img{
        width: 508px;
    }

    .first_slide .right_side .reservation_block>h3{
        font-size: 21px;
    }
    .first_slide .right_side .reservation_block>div>span{
        font-size: 15px;
    }
    .first_slide .right_side .reservation_block{
        width: 116px;
        height: 72px;
    }

    .first_slide .left_side{
        width: 331px;
    }

    .first_slide .left_side p{
        font-size: 20px;
    }

    .first_slide .left_side h1{
        font-size: 52px;
    }

    .first_slide .left_side span{
        font-size: 16px;
        margin-bottom: 34px;
    }

    .first_slide .left_side .btns{
        gap: 11px;
    }

    .first_slide .left_side .btn{
        font-size: 17px;

        padding: 10px 17px;
    }

    .first_slide .right_side .reservation_block h3{
        font-size: 12px;
    }

    .first_slide .right_side .reservation_block>div>span{
        font-size: 9px;
    }

    .first_slide .right_side .reservation_block{
        right: 10px;
        top: -24px;
    }

    .first_slide .right_side .reservation_block:first-child{
        bottom: 30px;
        left: 10px;
    }
}

@media screen and (max-width: 700px){

    .first_slide{
        justify-content: unset;
        position: relative;
    }

    .first_slide .left_side{
        width: 340px;
    }

    
    .first_slide .right_side .itteractive_block img{
        transform: scaleX(-1);
    }

    .first_slide .right_side .itteractive_block .reservation_block{
        display: none;
    }

    
    .first_slide_container{
        height: 538px;
    }

    .first_slide{
        margin-top: 30px;
    }
}
