.five_slide_container {
  width: 100%;
  margin-top: 150px;
}

.five_slide_container h2 {
  margin-bottom: 65px;
  color: var(--sea-color);
}

.five_slide_container .row {
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

.five_slide_container .block {
  width: 574px;

  border-radius: 17px;

  background: var(--light-color);
  color: var(--dark-color);

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 30px 32px;
}

.five_slide_container .block h3 {
  margin-bottom: 10px;
}

.five_slide_container .block .price {
  margin-top: 8px;
  margin-bottom: 20px;
  color: var(--sea-color);
}

.five_slide_container .block p {
  font-size: 22px;
}

.five_slide_container .block p.cost {
  font-size: 35px;
}

.five_slide_container .block .btn {
  font-size: 18px;
}

.five_slide_container .services_container {
  width: 100%;
  background: var(--light-color);
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.five_slide_container .services {
  width: 902px;
  padding: 33px 0;
  margin: auto;
}

.five_slide_container h3 {
  font-size: 29px;
}

.five_slide_container span {
  font-size: 17px;
}

.five_slide_container .btn {
  font-size: 18px;
}

.five_slide_container .services table,
.five_slide_container .services thead,
.five_slide_container .services tbody,
.five_slide_container .services tr {
  width: 100%;
  margin: 0;
  padding: 0;
}

.five_slide_container .services {
  width: 100%;
  position: relative;
  height: 705px;

  overflow: hidden;
}
.five_slide_container .services_container,
.five_slide_container {
  position: relative;
}

.five_slide_container::after {
  content: "";
  width: 100%;
  height: 150px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: linear-gradient(180deg, rgba(241, 247, 255, 0) 0%, #f1f7ff 100%);
  border-radius: 18.4113px;
}

.five_slide_container.active .services {
  height: auto;
}

.five_slide_container.active::after {
  display: none;
}

.five_slide_container .services_container button {
  position: absolute;
  bottom: 20px;
  left: 40px;
  z-index: 10;
  font-family: var(--font-regular);
  font-size: 27px;
  color: var(--sea-color);
}

.five_slide_container .services tr {
  position: relative;
}

.five_slide_container .services tr:hover {
  background-color: lightgray;
}

.five_slide_container .services tr::after {
  content: "";
  width: 100%;
  height: 1px;

  top: 0;
  left: 0;
  position: absolute;

  background: var(--sea-color);
}

.five_slide_container .services thead {
  color: var(--sea-color);
}

.five_slide_container .services thead tr:first-child::after {
  display: none;
}

.five_slide_container .services td {
  width: 274px;
  height: 109px;
  padding: 5px 0;
}

.five_slide_container .services td:first-child {
  position: relative;
  display: flex;
  width: 390px;
}

.helpContainer {
  position: relative;
  width: 23px;
  height: 100%;
}

.help_mesage_block {
  display: none;
  position: absolute;
  top: 0px;
  left: 30px;
  padding: 33px 21px;

  width: 401px;
  height: 221px;
  align-items: center;
  text-align: left;
  background-color: var(--light-color);
  font-size: 21px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  z-index: 3;
}

.five_slide_container .services td:last-child {
  width: 281px;
}

.five_slide_container .services thead td,
.five_slide_container .services tbody td {
  font-size: 27px;
  text-align: center;
}

.five_slide_container .services thead td:first-child,
.five_slide_container .services tbody td:first-child {
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .five_slide_container h3 {
    font-size: 24px;
  }
  .five_slide_container span {
    font-size: 14px;
  }
  .five_slide_container p {
    font-size: 18px;
  }
  .five_slide_container .cost {
    font-size: 28px;
  }
  .five_slide_container .price {
    font-size: 13px;
  }

  .five_slide_container .block .btn {
    font-size: 14px;
  }

  .five_slide_container .block {
    width: 466px;
  }
}


@media screen and (max-width: 768px ) {
    .five_slide_container h2{
        margin-bottom: 20px;
    }

    .five_slide_container{
        margin-top: 65px;
    }
    .five_slide_container .block{
        width: 344px;
    }
}

@media screen and (max-width: 540px ) {
    .five_slide_container h2{
        margin-bottom: 20px;
    }

    .five_slide_container{
        margin-top: 65px;
    }
    .five_slide_container .row{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}