.footer .wrapper{
    height: 230px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer{
    background: var(--sea-color);
}

.footer .header_logo {
    width: 123px;
    height: 44px;
  }
  
  .footer .header_logo>img{
    width: 100%;
    object-fit: fill;
  }
  
  .footer ul{
    width: 616px;
    height: 100%;
  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer ul li{
    list-style: none;
    color: var(--light-color);
  }
  
  .footer ul li a{
    text-decoration: none;
    color: var(--light-color);
  }
  
.footer ul li.active{
    font-family: var(--font-bold);
}

.footer .contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--light-color);
}

@media screen and (max-width: 768px){

  .footer ul{
    width: 411px;
  }

  .footer ul li a{
    font-size: 15px;
  }
}

@media screen and (max-width: 540px){
  .footer ul li a{
    font-size: 15px;
  }

  .footer .wrapper{
    flex-direction: column;
    align-items: flex-start;

    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer .wrapper,
  .footer{
    height: auto;
  }

  .footer ul{

    margin-top: 50px;

    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer ul li{
    width: 50%;
    margin-bottom: 20px;
  }
}
