.four_slide_container{
    margin-top: 150px;
}

.four_slide_container h2{
    margin-bottom: 65px;
    color: var(--sea-color);
}
.four_slide_container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.four_slide_container .card{
    width: 300px;
    height: 386px;
    position: relative;

    border-radius: 15px;
    overflow: hidden;

    color: var(--light-color);
}

.four_slide_container .row .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.four_slide_container .row .card.active{
    width: 600px;
}

.four_slide_container .row .card .btns{
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

.four_slide_container .card h3{
    font-size: 25px;
    width: 204px;
}

.four_slide_container .card span{
    font-size: 19px;
    width: 383px;
    text-align: right;
}

.four_slide_container .row .card.active .btns{
    top: auto;
    left: auto;

    bottom: 10px;
    right: 10px;
}

.four_slide_container .row .card.active span{
    position: absolute;
    top: 10px;
    right: 10px;
}

.four_slide_container .row .card .btns button{
    padding: 0;
    width: 30px;
    height: 30px;

    background: var(--disable-color);
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
}

.four_slide_container .row .card .btns button.active{
    background: var(--sea-color);
}


.four_slide_container .row .card h3{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

@media screen and (max-width: 1440px) {
    .four_slide_container .card{
        width: 249px;
        height: 321px;
    }
    .four_slide_container .card.active{
        width: 498px;
        height: 321px;
    }
}

@media screen and (max-width: 1000px) {
    .four_slide_container .card{
        width: 230px;
        height: 296px;
    }
    .four_slide_container .row .card.active{
        width: 460px;
        height: 296px;
    }
}


@media screen and (max-width: 768px){
    .four_slide_container .card{
        width: 177px;
        height: 229px;
    }
    .four_slide_container .row .card.active{
        width: 357px;
        height: 229px;
    }
}

@media screen and (max-width: 540px) {
    .four_slide_container{
        margin-top: 55px;
    }

    .four_slide_container h2{
        margin-bottom: 15px;
    }

    .four_slide_container .row{
        flex-wrap: wrap;
    }

    .four_slide_container .card{
        width: 158px;
        height: 205px;
    }
    .four_slide_container .card.active{
        width: 100%;
        margin-top: 15px;
    }

    .four_slide_container .row .card.active span{
        width: 80%;
        font-size: 12px;
    }
    .four_slide_container .row .card h3{
        width: 80%;
        font-size: 15px;
    }

    .four_slide_container .btn{
        font-size: 12px;
        margin-top: 15px;
    }
}