:root {
  --bg-color: #f1f7ff;
  --sky-color: #779ecb;
  --sea-color: #2954b1;
  --light-color: #ffffff;
  --dark-color: #000000;
  --disable-color: #929292;

  --font-thin: 'Circe Thin';
  --font-ligth: 'Circe Light';
  --font-regular: 'Circe Regular';
  --font-bold: 'Circe Bold';
  --font-extra-bold: 'Circe Extra Bold';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-regular);
  background-color: var(--bg-color);
}

.wrapper{
  width: 1240px;
  margin: auto;
  height: 100%;
}

.sea-bg{
  background: var(--sea-color);
}

.slide{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.row{
  display: flex;
  flex-direction: row;
}

button{
  background: none;
  outline: none;
  border: none;
}

h2{
  color: var(--sea-color);
}

.btn{
  font-family: var(--font-bold);
  font-size: 26px;

  outline: none;
  border: none;

  border-radius: 15px;
  color: var(--light-color);
  background: linear-gradient(263.16deg, #214080 -5.59%, #2954B1 85.18%);
  box-shadow: 0px 0px 20px rgba(41, 84, 177, 0.5);

  padding: 19px 35px;

  transition: 0.15s;
}

.btn:hover{
  transform: scale(1.02);
}

.btn:active{
  transform: scale(0.99);
}

.btn:disabled{
  background: var(--disable-color);
  box-shadow: none;
}


.btn:disabled:hover,
.btn:disabled:active{
  transform: scale(1);
}



h2{
  font-family: var(--font-bold);
  font-size: 60px;
}

h3{
  font-family: var(--font-bold);
  font-size: 40px;
}

span{
  font-family: var(--font-regular);
  font-size: 30px;
}

@media screen and (max-width: 1440px) {
  .wrapper{
    width: 1030px;
  }
  h2{
    font-size: 50px;
  }
  span{
    font-size: 25px;
  }
  h3{
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper{
    width: 952px;
  }
  h2{
    font-size: 40px;
  }
  span{
    font-size: 22px;
  }
  h3{
    font-size: 24px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper{
    width: 738px;
  }
  h2{
    font-size: 28px;
  }
  span{
    font-size: 16px;
  }
  h3{
    font-size: 25px;
  }
}

@media screen and (max-width: 540px) {
  .wrapper{
    width: 335px;
  }
  h2{
    font-size: 20px;
  }
  span{
    font-size: 11px;
  }
  h3{
    font-size: 13px;
  }
}