:root {
  --bg-color: #f1f7ff;
  --sky-color: #779ecb;
  --sea-color: #2954b1;
  --light-color: #ffffff;
  --dark-color: #000000;

  --font-thin: 'Circe Thin';
  --font-ligth: 'Circe Light';
  --font-regular: 'Circe Regular';
  --font-bold: 'Circe Bold';
  --font-extra-bold: 'Circe Extra Bold';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-regular);
  background-color: var(--bg-color);
}
