#consultModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--sea-color);
  z-index: 9;
}

.consult_modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 20px;
  padding: 72px 63px;

  background-color: var(--bg-color);
}

#cancelButton {
  position: absolute;
  top: 25px;
  left: 27px;
  cursor: pointer;
}

#cancelButton img {
  width: 41px;
  height: 41px;
}

.consult_modal_img {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.consult_modal_img img {
  width: 407px;
  height: 344px;
}

.consult_modal_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: end;
}

.consult_modal_form h3 {
  width: 435px;
  height: 59px;
  color: #214080;

  margin-bottom: 25px;
}

.consult_modal_form .btn {
  width: 241px;
  height: 65px;
  padding: 15px 23px;
  font-size: 24px;
}

.consult_modal_caption {
  font-size: 12px;
  color: var(--sea-color);
}

.consult_modal_caption p {
  text-decoration: underline;
}


.notifications_window{
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 100px 0;

  z-index: 10;
  pointer-events: none;
}

.notifications_window div{
  width: 505px;
  min-height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 15px;

  text-align: center;

  color: var(--light-color);
  background: var(--sea-color);

  font-size: 18px;
}

.notifications_window .success{
  background: var(--success-color);
}

.notifications_window .error{
  background: var(--error-color);
}