.third_slide_container{
    width: 100%;
    height: 561px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.third_slide_container h2{
    color: var(--sea-color);
    margin-bottom: 65px;
}

.third_slide_container .wrapper{
    height: auto;
}

.third_slide_container .row{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 21px;
}

.third_slide_container .block{
    width: 294px;

    position: relative;
    padding-left: 14px;
    margin-bottom: 38px;
}

.third_slide_container .block::before{
    content: "";
    
    width: 5px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 7px;

    background: var(--sea-color);
}

.third_slide_container .block h3{
    color: var(--sea-color);
    font-size: 34px;
}

.third_slide_container .block span{
    font-size: 22px;
}

.four_slide_container .btn{
    margin-top: 36px;
}

@media screen and (max-width: 1440px){
    .third_slide_container .row{
        gap: 0px;
        justify-content: space-between;
    }
    .third_slide_container .block{
        width: 279px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1000px){

    .third_slide_container .row{
        gap: 0px;
    }
    .third_slide_container .block{
        width: 50%;
    }

    .third_slide_container{
        margin-top: 30px;
    }
    .third_slide_container h2{
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 540px) {
    .third_slide_container .block h3{
        font-size: 13px;
    }   

    .third_slide_container .block span{
        font-size: 11px;
    }

    .third_slide_container{
        height: auto;
    }
}